[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
